@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Lobster&display=swap');


.font{
    font-size: 15px;
    font-family: cursive;
}

.font1{
    font-size: 20px;
    font-family: fantasy;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

Button {
    width: 120px;
    height: 40px;
}

.navbar-brand {
    font-size: 2rem !important;
    font-family: 'Lobster', cursive !important;
}